body{
    margin: 0;
    padding: 0;
    color: black;
}
.info {
    display: flex;
    width: flex;
    height: 75px;
    color: black;
    background-color: white;
    justify-content: flex-end;
    flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: flex-end;
    font-family: Inter;
    font-size: 15=8==20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}
.info p{
    margin-left: 8px;
    border-right: 1px solid;
    padding-right: 8px;
}


.main{
    background-color: black;
    color: #FFF;
    background-image: url(./Group\ 38.png);
    display: flex;
    width: flex;
    height: 957px;
    flex-shrink: 0;
    height: 950px;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.small-a{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}
.news{
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: flex;

  padding-bottom: 5%;
}
.news p{
  padding-left: 5%;

}
.news img{
  width: 35%;
  height: 35%;
}
.slider-container {
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}


.slider-controls{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.slider-controls button{
  height:500%;
  width: 6%;
  color: white;
  background-color:#D6FF62;
  border: none;
  border-radius: 50%;
}
.arrow{
  color: #000;
}

.big{
  color: #D6FF62;
  font-family: Anton;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0%;
  padding: 0%;
}



.footer {
    display: flex;
    background-color: black;
    color: white;
    width: flex;
    flex-direction: column;
    height: flex;
    
  }
  .footer ul{
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 22.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .foot-cont{
    display: flex;
    flex-direction: row;
    margin-left: 82px;
    margin-right: 82px;
    margin-top: 20px;
    justify-content: space-between;
    border-bottom: #D9D9D9 solid;
    padding-bottom: 20px;
  }
  .infos{
    display: flex;
    flex-direction: row;
    margin-top: 112px;
    gap: 100px;
  }
  .infos p{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 18px;
  }
  .bottom-tag {
    margin-top: 45px;
    margin-left: 82px;
  }
  .infos li{
    padding: 5px;
  }
  
  .logonstuff p:nth-child(2){
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .tiny{
    color: #FFF;
    font-family: Inter;
    font-size: 12.361px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 25px;
  }
  .buttons input{
    width: 273px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #FFF;
    color: #B5B5B5;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 42px;
  }
  .buttons button{
    width: 164px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #D6FF62;
  }
  .bottom-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 82px;
    margin-bottom: 20px;
  }
  .pol {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
  }
  .pol p{
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
  }

